@use "../core/variables" as vars;

.card-previw {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background-color: vars.$blue;
}

.card-title {
    text-align: center;
    font-family: vars.$font-main;
    color: vars.$yellow;
    padding: 25px;
}

.preview-name {
    color: black;
    font-size: large;
    font-family: vars.$font-main;
    padding: 10px;
}
.info {
    background-color: vars.$blue;
    width: 80%;
}

.user-name-photo {
    display: flex;
    justify-content: space-between;
}

.genre {
    text-align: center;
    color: vars.$yellow;
    font-family: vars.$font-main;
    line-height: 20px;
}

.card_list_title {
    color:black;
    font-family: vars.$font-main;
    font-size: 20px;
    padding: 2px;
    line-height: 45px;
}



.img-category {
    height: 20px;   
}



div.img-category {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 80px;
}

div.img-category img {
    width: 50px;
}

.card_list_style {
    color:vars.$green;
    font-family: "Inter", serif;
    font-size: 20px;
    padding: 2px;
    line-height: 50px;
    // background-color: black;
}

div.card-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

button.share-btn {
    width: 100%;
    height: 50px;
    margin: 40px;
    background-color: vars.$green;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    color: vars.$yellow;
    border: 2.5px solid vars.$blue;
    border-radius: 20px;
    padding: 10px 20px;
}

div.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

div.social-icons img {
    width: 50px;    
}

button.reset-btn {
    width: 100%;
    height: 50px;
    margin: 40px;
    background-color: vars.$green;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    color: vars.$yellow;
    border: 2.5px solid vars.$blue;
    border-radius: 20px;
    padding: 10px 20px;
}