@use "../core/variables" as vars;

.info_fiction {
    width: 75%;
    background-color: vars.$blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.info_romantic {
    width: 75%;
    background-image: url('/images/romance.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    filter: blur 10%;
}

.info_terror {
    width: 75%;
    background-image: url('/images/terror.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    filter: blur 10%;
}

.card-header {
display: flex;
flex-direction: column;
align-items: center;
}

.user-name-photo {
    display: flex;
    flex-direction: column;
    border-radius: 50%

}

.avatar-photo {
    width: 200px;
    align-self: right;
    border-radius: 50%;
    height: 200px;
}

.genre {
    font-family: vars.$font-main;
    color: vars.$yellow;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.card-title {
    color: vars.$blue;
    text-align: center;
    font-family: vars.$font-main;
    color: vars.$yellow;
    padding: 25px;
}

.card-previw {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    background-color: vars.$blue;
    background-image: radial-gradient(#E9C46A 5%, transparent 5%); 
    background-size: 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.img-category {
    height: 20px;   
}

.preview-name {
    color: vars.$green;
    font-size: large;
    font-family: vars.$font-main;
    padding: 10px;
}

div.img-category {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 80px;
}

div.img-category img {
    width: 50px;
}

.card_list_style {
    color: white;
    font-family: "Inter", serif;
    font-size: 20px;
    padding: 2px;
    line-height: 50px;
}

.list-background {
    background-color: #264653;
}

.card_list_title {
    color: vars.$yellow;
    font-family: "Inter", serif;
    font-size: 30px;
    padding: 2px;
    line-height: 45px;
}


div.card-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

button.share-btn {
    width: 100%;
    height: 50px;
    margin: 40px;
    background-color: vars.$green;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    color: vars.$yellow;
    border: 2.5px solid vars.$blue;
    border-radius: 20px;
    padding: 10px 20px;
}

div.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

div.social-icons img {
    width: 50px;    
}

.reset-btn-container {
    display: flex;
    justify-content: center;
}

button.reset-btn {
    background-color: vars.$green;
    color: vars.$white;
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

