@use "../core/variables" as vars;

.footer-container {
    background-color: vars.$blue;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    color: vars.$yellow;
}
.footer-left {
    text-align: left;
}
.footer-middle {
    text-align: center;
}

.footer-icon {
    width: 50px;
}