@use "../core/variables" as vars;

form.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: "Inter", serif;
    flex-wrap: wrap;

    & span.dropdown {
        color: vars.$green;
        background-color: vars.$white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 20px;
    }

    & section.design {
        padding: 10px;

        & div.design {
            background-color: vars.$green;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: vars.$yellow;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            padding: 10px 20px;
        }

        & fieldset.design {
            background-color: vars.$yellow;
            display: flex;
            flex-direction: column;
            color: vars.$blue;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            gap: 10px;
            padding: 20px;
        }

        & input {
            padding: 10px 20px;
            border: 2.5px solid vars.$blue;
            border-radius: 5px;
        }
    }

    & section.fill {
        padding: 10px;

        & div.fill {
            background-color: vars.$green;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: vars.$yellow;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            padding: 10px 20px;
            flex-wrap: wrap;
        }

        & fieldset.fill {
            background-color: vars.$yellow;
            display: flex;
            flex-direction: column;
            color: vars.$blue;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            gap: 10px;
            padding: 20px;
            flex-wrap: wrap;
        }

        & fieldset.genre {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        & legend.bold {
            font-size: 25px;
        }

        & fieldset.titles {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        & input {
            padding: 10px 20px;
            border: 2.5px solid vars.$blue;
            border-radius: 5px;
        }
    }

    & section.share {
        padding: 10px;

        & div.share {
            background-color: vars.$green;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: vars.$yellow;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            padding: 10px 20px;
        }

        & fieldset.share {
            background-color: vars.$yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2.5px solid vars.$blue;
            border-radius: 20px;
            gap: 20px;

            & .button-create {
                background-color: vars.$green;
                color: vars.$white;
                width: 300px;
                padding: 20px;
                border: none;
                border-radius: 10px;
                font-family: vars.$font-main;
                font-size: 20px;
                text-align: center;
                margin: 20px;
            }

            & .social-media {
                border-top: 1px solid vars.$green;
                width: 347px;
                font-family: vars.$font-main;
                font-size: 20px;
                text-align: center;
                color: vars.$blue;
                padding: 20px;

                & .list-created {
                    font-size: 20px;
                    padding: 20px;
                }

                & .link-created {
                    font-size: 15px;
                    color: palevioletred;
                }

                & .whatsapp {
                    display: flex;
                    font-size: 19px;
                    text-align: center;
                    justify-content: space-evenly;
                    align-items: center;
                    border: 1px solid vars.$green;
                    border-radius: 10px;
                    margin: 20px;

                    & img {
                        width: 40px;
                    }
                }
            }
        }
    }

    .collapsed {
        display: none;
    }
}

.forms_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
    // background-color: blue;
}

.subtitles {
    font-weight: 300px;
}

.containter_images_forms {
    width: 100px;
}

.forms_image_selector {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: space-between;
}

.forms_check_title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
}
@media (min-width: 768px) {
    .forms-preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .forms {
        width: 60%;
        margin-top: 30px;
    }

    .preview {
        width: 35%;
    }
}
@media (min-width: 1024px) {
    .forms-preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .forms {
        width: 60%;
        .forms-preview .forms {
            margin-top: 30px;
        }
    }

    .preview {
        width: 35%;
    }
}

.file {
    display: none;
}

.upload-button {
    background-color: vars.$green;
    color: vars.$white;
    width: 120px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: vars.$font-main;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.profile-image {
    width: 100px;
    height: 100px;
    border: solid;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.fieldset-genre {
    background-color: vars.$yellow;
    display: flex;
    flex-direction: row;
    color: vars.$blue;
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 0;
}

.images-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
