@use "../core/variables" as vars;

.header_container {
    display: flex;
    width: 100%;
    // position: sticky;
    justify-content: space-between;
    // text-align: center;
    background-color: vars.$green;
    color: white;
    font-family: vars.$font-main;
    align-items: center;
    background-image: radial-gradient(#e9c56aa6 10%, transparent 10%);
    background-size: 30px 30px;
}

.header_title {
    padding-right: 40px;
    color: vars.$yellow;

    text-shadow: 
    -2px -2px 0 vars.$blue,  
    2px -2px 0 vars.$blue,
    -2px  2px 0 vars.$blue,
    2px  2px 0 vars.$blue;
}

.header_icon {
    width: 100px;
    // color: white;
    display: flex;
}

a:hover {
    transform: scale(1.2);
}

// .subtitle {
//   font-family: "Inter", serif;
//   color: white;
//   font-size: 30px;
//   display: flex;
// }
