@use '../core/variables' as vars;

.header_container {
    display: flex;
    width: 100%;
    position: sticky;
    align-items: left;
    justify-content: space-between;
    text-align: center;
    background: vars.$green opacify($color: #2a9d909d, $amount: 0);
  }

