@use "../core/variables" as vars;

.hero-container {
    background-color: vars.$yellow;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin-top: 50px;
    width: 90%;
    position: relative;
}
.hero-img-terror {
    width: 30%;
    height: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.hero-img-scifi {
    width: 28%;
    height: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 15%;
}

.hero-img-romance {
    width: 28%;
    height: auto;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    right: 15%;
}

.hero-text-container {
    font-family: vars.$font-main;
    color: vars.$blue;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-logo {
    width: 120px;
    transform: rotate(-20deg);
}

.hero-step-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: vars.$font-main;
    color: vars.$blue;
}
.hero-step-design {
    background-color: vars.$white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.hero-icon-design {
    width: 50px;
    height: 50px;
}
.hero-step-fill {
    background-color: vars.$white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.hero-icon-fill {
    width: 50px;
    height: 50px;
}
.hero-step-share {
    background-color: vars.$white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.hero-icon-share {
    width: 50px;
    height: 50px;
}

.button {
    background-color: vars.$green;
    color: vars.$white;
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
