<form class="form" action="https://dev.adalab.es/api/form" method="POST">
    
    <section class="design">
        <div class="design">
            <h2>Diseña</h2>
            <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
        </div>
        <fieldset class="design">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Título de la lista">
            <input type="text" placeholder="Imagen de la tarjeta">
        </fieldset>
    </section>
    
    <section class="fill">
        <div class="fill">
            <h2>Rellena</h2>
            <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
        </div>
        <fieldset class="fill">
        <fieldset class="genre">
            <legend>Género</legend>
            <div>
                <input id="terror" type="radio" name="genre">
                <label for="terror">Terror</label>
            </div>
            <div>
                <input id="fiction" type="radio" name="genre">
                <label for="fiction">Ciéncia ficción</label>
            </div>
            <div>
                <input id="romantic" type="radio" name="genre">
                <label for="romantic">Romántica</label>
            </div>
        </fieldset>
        <fieldset class="titles">
            <input type="text" placeholder="Título peli 1">
            <input type="text" placeholder="Título peli 2">
            <input type="text" placeholder="Título peli 3">
        </fieldset>
        </fieldset>
    </section>
    
    <section class="share">
        <div class="share">
            <h2>Comparte</h2>
            <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
        </div>
        <fieldset class="share">
            <button class="create-list">Crear lista</button>
            <button class="reset">Reset</button>
        </fieldset>
    </section>       
</form>
