<section class="fill">
    <div class="fill js-fill-title">
        <h2>Rellena</h2>
        <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
    </div>
    <div class="collapsed js-fill-form">
    <fieldset class="fill">
        <fieldset class="genre">
            <legend>Género</legend>
            <div>
                <input id="terror" type="radio" name="genre" />
                <label for="terror">Terror</label>
            </div>
            <div>
                <input id="fiction" type="radio" name="genre" />
                <label for="fiction">Ciéncia ficción</label>
            </div>
            <div>
                <input id="romantic" type="radio" name="genre" />
                <label for="romantic">Romántica</label>
            </div>
        </fieldset>
        <fieldset class="titles">
            <input type="text" placeholder="Título peli 1" />
            <input type="text" placeholder="Título peli 2" />
            <input type="text" placeholder="Título peli 3" />
        </fieldset>
    </fieldset>
</div>
</section>
