<section class="design">
    <div class="design js-design-title">
        <h2>Diseña</h2>
        <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
    </div>
<div class="collapsed js-design-form">
    <fieldset class="design">
        <label for="name">Nombre</label>
        <input
            class="js-name"
            type="text"
            placeholder="Escribe tu nombre"
            id="name"
        />
        <label for="list">Título de la lista</label>
        <input
            class="js-list-name"
            type="text"
            placeholder="Mis pelis top este verano"
            id="list"
        />
        <label for="img">Selecciona un fondo para tu tarjeta</label>
        <input
            class="js-img"
            type="text"
            placeholder="Imagen de la tarjeta"
            id="img"
        />
    </fieldset>
</div>
</section>
