<section class="share">
    <div class="share js-share-title">
        <h2>Comparte</h2>
        <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
    </div>
    <div class="collapsed share-container js-share-form">
        <fieldset class="share">
            <button class="button-create">Crear lista</button>
            <div class="social-media">
                <h4 class="list-created">¡Tu lista ha sido creada!</h4>
                <a class="link-created" href="/"
                    >http://Pelischulas-link-creado</a
                >
                <div class="whatsapp">
                    <img
                        src="/images/icon-whatsapp.svg"
                        alt="Icono de Whatsapp"
                    />
                    <p>Compartir en Whatsapp</p>
                </div>
            </div>
        </fieldset>
    </div>
</section>
