<section class="fill">
  <div class="fill js-fill-title js-design-header">
    <h2>Rellena</h2>
    <span class="dropdown"><i class="fa-solid fa-caret-down"></i></span>
  </div>

  <div class="collapsed js-fill-form form_fill_content">

    <fieldset class="fill js-title-names">
    
      <fieldset class="fieldset-genre js-genre">
          <legend class="bold">Género de tu lista de pelis</legend>

          <div class="images-order">

        <div class="forms_image_selector">
          <img class= "img-complete" src="/images/terror.jpg" alt="imagen de cartel  de terror">
          <div class="forms_check_title">
            <input class = "js-terror-movie" value="1" type="radio" name="genre" />
            <label for="terror">Terror</label>
          </div>
        </div>


          <div class="forms_image_selector">
            <img class="img-complete" src="/images/ciencia-ficcion.jpg" alt="imagen de cartel de ciencia ficcion">
            <div class="forms_check_title">   
          <input class = "js-fiction-movie" value="2" type="radio" name="genre" />
          <label for="fiction">Ciencia ficción</label>
        </div>
      </div>


         <div class="forms_image_selector">
          <div class= "forms-single-img"><img class="img-complete" src="/images/romance.jpg">

          <div class="forms_check_title">
          <input class= "js-romantic-movie" value="3" type="radio" name="genre" />
          <label for="romance">Romance</label></div></div>
        </div>
      </div>
      </fieldset>


      <fieldset class="titles js-complete-titles">
        <legend class="bold">Escribe los títulos</legend>
        <label for="peli1">Primera peli</label>
        <input class="js-first-movie" type="text" placeholder="Una noche en el museo" id= "peli1" />
        <label for="peli2">Segunda peli</label>
        <input class="js-second-movie" type="text" placeholder="Matrix 1" id= "peli2"/>
        <label for="peli3">Tercera peli</label>
        <input class="js-third-movie" type="text" placeholder="Interestelar" id= "peli3" />
      </fieldset>
    </fieldset>
  </div>
</section>
